* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /*color: #565E65;*/
    scroll-behavior: smooth;
}

/* Masquage de la barre de defilement - IE 10+ et Firefox */
html {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* Masquage de la barre de defilement - Chrome & Safari & Edge */
html::-webkit-scrollbar {
    display: none;
}

/* Style global */
header main footer{
    display: flex;
}

p {
    font-size: 1.5rem;
    color: #565E65;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 50px;
}

h3 {
    font-size: 2rem;
}

.big-size {
    font-size: 5em !important;
}

.bg-dark {
    background-color: #053B44;
    color: #FFFFFF;
}

.bg-dark p {
    color: #FFFFFF;
}

.color-dark {
    color: #1C2126 !important;
}

.color-green {
    color: #029D5B !important;
}

.color-yellow {
    color: #D5F31F !important;
}

section {
    display: flex;
    /*margin: 50px 0;*/
    padding: 50px 0;
}

section p {
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.block100{
    width: 100%;
}

.block80{
    width: 80%;
}

.block50{
    width: 50%;
}

.block33 {
    width: 33%;
    min-width: 260px;
}

.block25{
    width: 25%;
    min-width: 300px;
}

.block20{
    width: 20%;
}

/* Header */
header {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1;
    padding: 15px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.label {
    font-size: 24px;
    font-weight: bold;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #565E65;
}

.menu-mobile {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-mobile span {
    width: 25px;
    height: 3px;
    background-color: #FFF;
    border: 2px solid #333;
    margin: 4px;
}

/* Main - Accueil */
.accueil {
     margin-top: unset;
    padding-top: unset;
     align-items: flex-end;
     justify-content: flex-end;
 }

.accueil a {
    width: 100%;
    cursor: pointer;
}

.accueil a img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.texte-accueil {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    color: #FFFFFF;
    padding: 5%;
}

/* Main - Equipe */
.equipe {
    text-align: center;
}

.list-team {
}

.portrait {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portrait ul {
    list-style: none;
}

.portrait img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

/* Main - Clients */
.clients {
    height: unset;
}

.clients p {
    margin: unset;
}

.client {
    justify-content: center;
    align-items: center;
}

/* Main - Services */
.list-service {
}

/* Pas beau */
.list-service .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border-radius: 15%;
    background-color: #F4F6F5;
    padding: 25px;
}

.list-service .icon .img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* Main - Contact - Form */
input {
    width: 90%;
    padding: 12px;
    border: none;
    border-bottom: 3px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    outline: none;
    font-size: 16px;
}

#email {
    width: 95%;
}

input::placeholder {
    color: #FFFFFF;
}

textarea {
    width: 95%;
    padding: 12px;
    border: none;
    border-bottom: 3px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    outline: none;
    font-size: 16px;
    resize: none;
}

textarea::placeholder {
    color: #FFFFFF;
}

button {
    background: #D5F31F;
    color: #053B44;
    font-size: 1rem;
    border-radius: 25px;
    padding: 10px;
    width: 10%;
    margin: 25px;
    align-self: flex-end;
}

/* Main - A Propos */
.about {
    height: unset;
    text-align: center;
}

.about .illustration{
    display: flex;
    align-items: unset;
}

.about .illustration img{
    max-width: 90%;
    height: auto;
    border-radius: 15px;
}

.cadre {
    max-width: 90%;
    height: auto;
    border: 1px #565E65 solid;
    border-radius: 15px;
    padding: 25px;
}

.cadre h2 {
    font-size: 2rem;
}

.cadre p {
    font-size: 1.35rem;
}

.icons .icon {
    border: 5px solid;
    border-radius: 50%;
    padding: 30px;
}

/* Main - Galerie*/
.galerie {
    text-align: center;
}

.galerie .carousel {
    width: 100%;
}

.galerie .carousel img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.galerie .carousel .carousel-caption {
    justify-content: space-between;
    align-items: center;
}

.galerie .carousel .carousel-caption i{
    margin-top: 20px;
    font-size: 2rem;
}

/* Footer */
.general-footer {
    padding: 50px;
}

.general-footer h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

.general-footer ul {
    text-align: left;
    list-style: none;
}

.coordonnees {
    justify-content: center;
    align-items: flex-start;
}

.coordonnees .phone {
    margin-bottom: 50px;
}

.coordonnees .phone i {
    font-size: 30px;
    margin-right: 40px;
}

.coordonnees .adress i {
    font-size: 30px;
    margin-right: 40px;
}

.legal-footer{
    color: #FFFFFF;
    background-color: #042328;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.legal-footer p{
    color: #FFFFFF;
}

.legal-footer i {
    color: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    border-radius: 25%;
    padding: 5px;
}

/* Responsive - Menu */
@media (max-width: 1000px) {

    .menu {
        display: none;
    }
    .menu-mobile {
        display: flex;
    }
    .menu.active {
        display: block;
        position: absolute;
        top: 40px;
        right: 5px;
        background-color: #053B44;
        width: 30%;
        text-align: center;
        border-radius: 15px;
    }
    .menu.active ul {
        flex-direction: column;
    }
    .menu.active ul li {
        margin: 5px;
    }
    .menu.active ul li a{
        color: #D5F31F;
    }
}

@media (max-width: 1400px) {
    section {
        max-height: unset;
        min-width: unset;
    }

    .block50 {
        width: 100%;
        margin-bottom: 50px;
    }

    input {
        width: 95%;
    }
}

/* Responsive - version tablette */
@media (max-width: 770px) {

}

/* Responsive - version mobile */
@media (max-width: 430px) {

}