* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: #565E65;
}

.bg-dark {
    background-color: #053B44;
    color: #FFFFFF;
}

h1 {
    color: #1C2126;
}

h2 {
    color: #029D5B;
}

.yellow-text {
    color: #D5F31F;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding: 40px 0;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.column {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}


.block100{
    width: 100%;
    max-width: 100%;
}

.block50{
    width: 50%;
}

.block33 {
    width: 33%;
}

.block25{
    width: 25%;
}

.block20{
    width: 20%;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1;
}

/* Barre de navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/* Texte : "Agenceco" / Positionné à gauche de la barre */
.label {
    font-size: 24px;
    font-weight: bold;
    color: #029D5B;
}

/* Menu / Positionné à droite de la barre*/
.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #565E65;
}

/* Burger */
.burger_menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger_menu span {
    background-color: #FFF;
    border: 2px solid #333;
    width: 25px;
    margin: 2px 0;
}

/* Responsive */
@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .burger_menu {
        display: flex;
    }

    .menu .active {
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .menu .active ul {
        flex-direction: column;
    }

    .menu .active ul li {
        margin: 15px 0;
    }
}
/* Style de la section accueil */
.accueil {
    display: flex;
    padding-top: unset;
}

.accueil a {
    width: 100%;
    cursor: pointer;
}

.accueil img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.texte-accueil {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90%;
    height: 90%;
    color: #FFFFFF;
    justify-content: flex-end;
    align-items: flex-end;
}

.accueil .texte-accueil p {
    font-size: 2.5em;
}

.big-size {
    font-size: 3em !important;
}

/* Style de la section équipe */
.list-team {
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.team {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.team ul {
    list-style: none;
}

.team img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.client p{
    font-size: 1.5em;
}

.service p {
    font-size: 1.5em;
}

.service .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border-radius: 15%;
    background-color: #F4F6F5;
    padding: 25px;
}

.service .icon .img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* Section Contact - Form */

input {
    width: 90%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    outline: none;
    font-size: 16px;
}

#email {
    width: 95%;
}

input::placeholder {
    color: #FFFFFF;
}

textarea {
    width: 95%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    outline: none;
    font-size: 16px;
    resize: none;
}

textarea::placeholder {
    color: #FFFFFF;
}

/* A propos */

footer {
    width: 100%;
}

.cadre {
    padding: 30px;
    border: 1px #565E65 solid;
    border-radius: 15px;
}

.icons {
    margin: 50px 0;
}

.icons .icon {
    border: 5px solid;
    border-radius: 50%;
    padding: 30px;
}

.legal-footer{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    background-color: #042328;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.legal-footer i {
    color: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    border-radius: 25%;
    padding: 5px;
}

.coordonnees{
    justify-content: center;
    align-items: flex-start;
>>>>>>> dev
}